@font-face {
  font-family: 'KeeponTruckin';
  src: url('assets/fonts/KeeponTruckin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: black;
  font-family: 'KeeponTruckin';
  color: hotpink;
 
}
#date-time {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;

}

.quote-text {
  color: limegreen;
  text-shadow: 0 0 10px rgba(0, 255, 0, 0.733);
}

#date-time p {
  font-size: 40px;
  margin: 5px;

}

button {
  margin-top: 20px;
  font-family: 'KeeponTruckin';
  border-color:aqua ;
  background-color: limegreen; /* Change this to your desired default color */
  color: hotpink; /* Text color */

}